
body {
  margin: 0;
  background: #fefefe;
  font-family: sans-serif;
}
main {
  text-align: center;
}
.hero {
  width: 100%;
  max-width: 768px;
  height: auto;
  display: block;
  margin: 0 auto;
}
